[submodule ".registry"]
	path = .registry
	url = https://github.com/dmachlanski/dmachlanski.r-universe.dev
	branch = HEAD
[submodule "causalmlr"]
	path = causalmlr
	url = https://github.com/dmachlanski/causalmlr
	branch = main
